export AWS_ACCESS_KEY_ID=AKIAJQ6IOOBIXVSDYN7A
export AWS_SECRET_ACCESS_KEY=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
export AWS_DEFAULT_REGION=us-east-1
export ATLAS_USERNAME=parkops
export ATLAS_TOKEN=TPGqvz1eNv8W5g.atlasv1.YZFzFnJ3ZuJ6NttmgHrqNi2jiNx0kFrodZqEZ4MLKyDZl7qG9rxqvV8FWCH4CbfdF0g

export TF_VAR_aws_region=us-east-1
export TF_VAR_root_path=$(git rev-parse --show-cdup) && echo $PWD
export GOPATH=$HOME/.go
export PATH=$PATH:$PWD/bin/terraform-current:$GOPATH/bin:
